@color: black;
#wrapper {
  width: 960px;
  margin: 0 auto;
  color: @color;
}

#header {
  margin: 30px 0;
  h1 {
    text-align: center;
  }
}

#stats {
  text-align: center;

  #total-wattage {
    font-size: 40px;
    line-height: 40px;
  }
  #increase-usage {
    font-size: 40px;
    line-height: 40px;
  }
}

#charts {
  .chart-wrapper {
    float: left;
    margin: 15px;
    height: 370px;
  }
}
